.login-page .page-header {
    max-height: unset;
    height: unset;
    background-image: url('/static/img/bg.jpg');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    min-height: 100vh;
}

.login-page .page-header>.container {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

ul {
    list-style: none;
}